<%- include("header") -%>

<h2>About To Do List</h2>
<p>This is To Do List app to maintain your day-to-day tasks. Other than the main to-do page, you can also create custom to-do pages simply by appending /YourCustomListName in the url. Fill in the task and click + button to add, check it out to remove. For every
  new page, suggested 3 default tasks for you!</p>

<%- include("footer") -%>
