<%- include("header") -%>

<h2>What is To Do List app?</h2>
<p>To Do List app maintain your day-to-day tasks. Other than the main to-do page, you can also create custom to-do pages simply by appending /YourCustomListName in the url. Fill in the task and click + button to add, check it out to remove. For every
  new page, suggested 3 default tasks for you!</p>

<%- include("footer") -%>
